.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 7%;
}
.nav a img {
  object-fit: contain;
}
.thisLogos {
  width: 37%;
  height: 37%;
}
.checkboxTerms {
  display: flex;
}
.navButton {
  border-radius: 20px;
  color: var(--darkBlue);
  background-color: var(--darkBlueS);
  border: none;
  padding: 10px 20px;
}
.formSubmit {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: var(--grey2) solid 1px;
  height: 100%;
  width: 35%;
  margin: auto;
  gap: 15px;
  text-align: center;
  margin: auto;
  padding: 40px;
}
.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formInput {
  border: var(--grey2) solid 1px;
  border-radius: 6px;
  width: 100%;
  height: 2.5rem;
  margin: auto;
  padding-left: 12px;
}
.checkboxInput {
  margin-top: 6px;
  width: 10%;
  flex-shrink: 0;
}
.buttonSubmit {
  width: 100%;
  border-radius: 23px;
  border: var(--grey2) solid 1px;
  padding: 5px;
  background-color: var(--darkBlue);
  color: white;
  margin: auto;
}
