.navbarHomepage {
  width: 100%;
}
.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 7px;
}
.homepageLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}
.homepageLeft img {
  padding-top: 1%;
  width: 20%;
  height: 20%;
}
.homepageRight {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}
.homepageRight a {
  color: #000;
}
.btn_SignUp {
  background-color: darkBlue;
  border-radius: 2rem;
  padding: 10px 20px;
  border: none;
  color: white;
}
.btn_SignUp:hover {
  color: white;
  background-color: rgb(22, 22, 172);
}

.btn_board {
  border-radius: 2rem;
  background-color: orange;
  border-radius: 2rem;
  padding: 7px 20px;
  border: none;
  color: white;
}

.btn_board:hover {
  border-radius: 2rem;
  background-color: rgb(252, 172, 23);
  color: white;
}
.nav_link {
  color: black;
}

.mainHomepage {
  text-align: center;
}

.mainHomepage img {
  margin-top: 5%;
  width: 20%;
}

.hero {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 2%;
  color: white;
  margin-top: 60px;
  background-color: rgba(248, 43, 43, 0.767);
  width: 100%;
}

.linkFooter {
  margin-top: 1%;
}
.linkFooterA {
  text-decoration: none;
  color: white;
}
.products {
  padding: 0;
}
.lineFooter {
  height: 1px;
  width: 100%;
  background-color: azure;
  margin: auto;
}
.cobaFooter {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.linkFooterLI {
  list-style-type: none;
}