.navbar {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);
  position: absolute;
  background-color: whitesmoke;
}
.main_container {
  min-width: 99%;
}
.left_container {
  width: auto;
  height: 100%;
  width: 40%;
}
.logo {
  width: 25%;
  max-height: 100%;
}